@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'robotoregular';
}

.navbar {
  margin-bottom: 20px;
}

label.error {
  color: #a94442;
  /*background-color: #f2dede;
  border-color: #ebccd1;*/
  padding:1px 20px 1px 20px;
}
